<div id="comment_form">
  <span>Write something...</span>
  <%= form_tag comments_path do %>
    <div class="field">
      <%= text_area_tag 'comment[body]' %>
    </div>
    <div class="actions">
      <%= submit_tag 'Post', :class => 'comment_submit' %>
    </div>
    <%= hidden_field_tag 'comment[post_id]', @post.id %>
  <% end %>
</div>
