<div class="leftcol">
  <section>
    <header>Hello, world!</header>
    <div class="fade-arrow"></div>
    <article>
      <p>This is a test.</p>
    </article>
    <div class="clear"></div>
  </section>
</div>

<div class="clear"></div>
