<div id="skeleton" class="hidden">
  <section class="post">
    <div class="date">
      <div class="month">

      </div>
      <div class="day">

      </div>
    </div>

    <div class="else">
      <header>
        <span class="title"><a href="#"></a></span>
        <a href="#">
          <span class="right">
            <i class="icon-comment"></i>
            <span class="comments-count"></span>
          </span>
        </a>
      </header>

      <div class="fade-arrow"></div>

      <article>

      </article>

      <div class="clear"></div>

    </div>

    <div class="clear"></div>
  </section>
</div>
