<% @posts.each do |post| %>
  <section id="<%= dom_id post %>">
    <header><%= link_to post.title, post %></header>
    <div class="fade-arrow"></div>
    <article>
      <%= markdown post.content %>
    </article>
    <div class="clear"></div>
  </section>
<% end %>
