<span id="pageno" class="hidden"><%= @page %></span>

<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <%= render :partial => 'skeleton' %>
  
<% else %>
  <h1>Oops!</h1>
<% end %>
