<div id="footer">
  <p>
    ilictronix.com 2012. All rights reserved.
    <a href="http://twitter.com/prezjordan">twitter</a> . 
    <a href="http://github.com/prezjordan/ilictronix">github</a> .
    <a href="https://www.facebook.com/ilictronix">facebook</a> .
  </p>
</div>
