<section>
  <header>Welcome</header>
  <article>
    <p>Welcome to the new ilictronix!</p>
    <p>We're still working things out in our new home, so be patient! If you have any questions or concerns, please contact us.</p>
    <p>Oh, and if you haven't already, go ahead and <%= link_to 'signup', signup_path %>.</p>
  </article>
  <div class="clear"></div>
</section>

<section>
  <header>About</header>
  <article>
    <p>ilictronix has moved to a <a href="http://rubyonrails.org">Ruby on Rails</a> stack. We are currently hosted on <a href="http://heroku.com">Heroku</a>.</p>
    <p>Oh, and did I mention we're <a href="http://github.com/prezjordan/ilictronix">open source</a>?</p>
  </article>
  <div class="clear"></div>
</section>
