/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #222;
  color: #eee;
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}

#top_wrapper {
  border-bottom: 1px solid #eee;

  #top {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  #brand {
    margin-top: 40px;

    h1 {
      font-size: 60px;
      line-height: 60px;
      padding: 0;
      margin: 0;
      font-weight: 200;
      letter-spacing: -2px;
    }
  }
}

.fade-arrow {
  width: 0;
  height: 0;
  border: 5px solid #4486dd;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.icon-comment {
  margin-top: 3px !important;
}

#roles_select {
  width: 250px;
}

#roles_select_chzn {
  color: #222;
}

.blue {
  color: #66b5ff;
}
