// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {

  margin-left: 10px;

  h2 {
    margin: 20px;
    text-align: center;
  }

  .comment {
    padding: 10px;
    background-color: #333;
    margin: 10px 0;

    .comment_body {
      margin: 10px 0;
    }
  }

  #comment_form {
    padding: 10px;
    background-color: #333;
  }

  a.delete {
    color: #DD4B3C;
    border-bottom-color: #555;

    &:hover {
      color: #ED7B5C;
    }
  }

}
