// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {

  margin-left: 10px;

  h2 {
    margin: 20px;
    text-align: center;
  }

  .comment {
    margin: 20px 0;

    .else {

      width: 590px;

      border-bottom: 1px solid #666;

      .comment_body {
        margin: 10px 0;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
      }

    }
  }

  #comment_form {
    padding: 10px;
    width: 570px;
    background-color: #333;
  }

  a.control {
    color: #DD4B3C;
    border-bottom-color: #555;

    &:hover {
      color: #ED7B5C;
    }
  }

}
