form.new_post, form.edit_post {
  .field {
    label {
      vertical-align: top;
    }

    input[type="text"], input[type="password"], textarea {
      width: 600px;
      font-size: 20px;
    }

    textarea {
      height: 400px;
      font-family: monospace;
      font-size: 12px;
    }
  }

  .actions {
    margin-left: 100px;
  }
}

form {

  .field {
    label {
      width: 100px;
      text-align: right;
      margin-right: 10px;
      display: inline-block;
    }

    input[type="text"], input[type="password"] {
      width: 200px;
    }

    textarea {
      width: 400px;
      height: 100px;
    }

    margin: 10px 0;
  }

  .actions {
    input[type="submit"] {
      width: 100px;
      height: 50px;
      margin-left: 20px;

      &.comment_submit {
        margin-left: 0;
        width: 60px;
      }
    }
  }
}
