// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  line-height: 20px;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

#top {
  padding: 20px;
  h1 {
    margin: 5px 0;
    font-size: 30pt;
    .highlight {
      color: #EA2E49;
    }
  }
}

#content {
  .leftcol, .rightcol {
    padding: 20px;
    float: left;
  }

  .leftcol {
    width: 520px;
  }

  .rightcol {
    width: 300px;
  }

  header {
    padding: 10px;
    background-color: #EA2E49;
  }

  section {
    margin-bottom: 20px;
  }

  article {
    float: left;
    background-color: #e5e5e5;
    padding: 20px;
  }

  .leftcol article {
    width: 470px;
  }

  .rightcol article {
    width: 250px;
  }
}

article p {
  margin: 0;
}

.fade-arrow {
  width: 0;
  height: 0;
  border: 5px solid #BC042C;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

div.clear {
  clear: both;
}

.date {
  float: right;
  font-style: italic;
}

