// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #66b5ff;
  text-decoration: none;
  border-bottom: 1px dotted #777;
  &:hover {
    color: #aac6ff;
  }
}

#top {
  padding: 20px;
  h1 {
    margin: 5px 0;
    font-size: 30pt;
    .highlight {
      color: #66b5ff;
    }
  }
}

#content {
  .leftcol, .rightcol {
    padding: 20px;
    float: left;
  }

  .leftcol {
    width: 680px;

    &.alone {
      width: 980px;
    }
  }

  .rightcol {
    width: 220px;
  }

  header {
    padding: 10px;
    background-color: #66b5ff;
    color: #222;
    font-weight: 400;

    a {
      text-decoration: none;
      color: #222;
      border: none;
      &:hover {
        border-bottom: 1px dotted #777;
      }
    }
  }

  section {
    margin-bottom: 30px;

    .important {
      margin: 20px 0 0 10px;
      border: 1px solid #eee;
      text-align: center;
    }
  }

  article {
    float: left;
    background-color: #333;
    padding: 5px 20px;

    img {
      width: 100%;
    }
  }

  .leftcol article {
    width: 550px;
  }

  .rightcol article {
    width: 180px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }
  }
}

.date {
  float: left;
  width: 60px;
  text-align: center;
  margin-right: 20px;

  .month {
    color: #66b5ff;
  }

  .day {
    font-size: 40px;
    line-height: 42px;
  }

  #controls {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.else {
  float: left;
}
