// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  line-height: 20px;
}

a {
  color: #66b5ff;
  text-decoration: none;
  border-bottom: 1px dotted #777;
  &:hover {
    color: #aac6ff;
  }
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

#top {
  padding: 20px;
  h1 {
    margin: 5px 0;
    font-size: 30pt;
    .highlight {
      color: #66b5ff;
    }
  }
}

#content {
  .leftcol, .rightcol {
    padding: 20px;
    float: left;
  }

  .leftcol {
    width: 600px;
  }

  .rightcol {
    width: 220px;
  }

  header {
    padding: 10px;
    background-color: #66b5ff;
    color: #222;
    font-weight: 400;

    a {
      text-decoration: none;
      color: #222;
      border: none;
      &:hover {
        border-bottom: 1px dotted #777;
      }
    }
  }

  section {
    margin-bottom: 20px;
  }

  article {
    float: left;
    background-color: #333;
    padding: 20px;
  }

  .leftcol article {
    width: 550px;
  }

  .rightcol article {
    width: 180px;
  }
}

article p {
  margin: 0;
}

.fade-arrow {
  width: 0;
  height: 0;
  border: 5px solid #4486dd;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

div.clear {
  clear: both;
}

